body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* #region header */

.header_page {
    border-bottom: 1px solid #e7e9fc;
}

.logo_style {
color:#2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px
    
}

.nav_item_link {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav_item_link:hover,
.nav_item_link:focus {
    color: #404bbf;
}

.addr_list {
    display: flex;
    gap: 40px;
}

.addr_link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.addr_link:hover,
.addr_link:focus {
    color: #404bbf;
}

.nav_addr {
    font-style: normal;
}

.nav_list {
    display: flex;
    gap: 40px;
}

.nav_page {
    display: flex;
    align-items: center;
}

.header_page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */

/* #region hero */

.hero {
padding: 188px 0;
background-color: #2e2f42;
}

.hero .container {
    
    width: 1440px;
}

.hero_title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}

.hero_btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        display: block;
        margin: 0 auto;
        
}



.hero_btn:hover,
.hero_btn:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region benefits */

.benefits_page {
padding: 120px 0
}

.benefits_list {
    display: flex;
    gap: 24px;
}

.benefits_item {
    width: 264px;
}

.benefits_title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits_text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

/* #endregion */

/* #region team */

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team_list {
    display: flex;
    gap: 24px;
}

.team_cont {
padding: 32px 0
}

.team_item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team_title {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team_item_title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.team_item_text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* #endregion */

/* #region portfolio */

.portfolio {
    padding-top: 120px;
        padding-bottom: 120px;
}

.port_cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio_title {
    text-align: center;
    text-transform: capitalize;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio_item_title {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: auto;
}

.portfolio_item_text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
    margin-right: auto;
}

/* #endregion */

/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer_text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

footer .logo_style {
    color: #f4f4fd;
}

/* #endregion */

